* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.SectionTwo {
  width: 1300px;
  height: 750px;
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: center;
}
.SectionTwo img {
  display: block;
}
.SectionTwo .continer {
  width: 542px;
  height: 476px;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  right: 0;
  background: #EDEDED;
}
.SectionTwo .continer h5 {
  color: #0499DD;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 65px 85px;
}
.SectionTwo .continer p {
  font-size: 14px;
  color: #282828;
  line-height: normal;
  font-weight: 500;
  padding: 0px 85px;
  width: 382px;
  height: 136px;
}

@media screen and (max-width: 768px) {
  .SectionTwo {
    width: 765px;
    height: 750px;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: center;
    background-image: url(/img/bagraund\ phoen\ 4.png);
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .SectionTwo img {
    display: inline;
    width: 504px;
    display: none;
  }
  .SectionTwo .continer {
    width: 493px;
    height: 433px;
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    left: 30%;
    background: #EDEDED;
  }
  .SectionTwo .continer h5 {
    color: #0499DD;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 55px 65px;
  }
  .SectionTwo .continer p {
    font-size: 14px;
    color: #282828;
    line-height: normal;
    font-weight: 500;
    padding: 0px 65px;
    width: 382px;
    height: 136px;
  }
}
@media screen and (max-width: 390px) {
  .SectionTwo {
    width: 390px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: center;
    background-image: url(/img/Rectangle\ 4\ \(1\)\ \ \ \ phone.png);
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .SectionTwo img {
    display: inline;
    width: 504px;
    display: none;
  }
  .SectionTwo .continer {
    width: 360px;
    height: 390px;
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    left: 15px;
    background: #EDEDED;
  }
  .SectionTwo .continer h5 {
    color: #0499DD;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 30px 30px;
  }
  .SectionTwo .continer p {
    font-size: 13px;
    color: #282828;
    line-height: normal;
    font-weight: 500;
    padding: 0px 30px;
    width: 294px;
    height: 144px;
  }
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.sectionThree {
  width: 1300px;
  margin: 0 auto;
}
.sectionThree .contenir {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.sectionThree .contenir h3 {
  color: #0499DD;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sectionThree .contenir .con_1 {
  width: 100%;
  height: 134px;
  margin-top: 100px;
  display: flex;
  gap: 15px;
}
.sectionThree .contenir .con_1 .list {
  flex: 6;
  height: 100%;
  display: flex;
}
.sectionThree .contenir .con_1 .list .logo {
  width: 17%;
  height: 100%;
}
.sectionThree .contenir .con_1 .list .logo img {
  width: 75px;
  height: 74px;
}
.sectionThree .contenir .con_1 .list .text {
  width: 83%;
  height: 100%;
}
.sectionThree .contenir .con_1 .list .text h4 {
  font-size: 18px;
  color: #0499DD;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sectionThree .contenir .con_1 .list .text p {
  color: #282828;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  display: block;
  text-align: left;
  margin-top: 25px;
}
.sectionThree .contenir .con_2 {
  width: 100%;
  height: 134px;
  margin-top: 30px;
  display: flex;
  gap: 15px;
}
.sectionThree .contenir .con_2 .list {
  flex: 6;
  height: 100%;
  display: flex;
}
.sectionThree .contenir .con_2 .list .logo {
  width: 17%;
  height: 100%;
}
.sectionThree .contenir .con_2 .list .logo img {
  width: 75px;
  height: 74px;
}
.sectionThree .contenir .con_2 .list .text {
  width: 83%;
  height: 100%;
}
.sectionThree .contenir .con_2 .list .text h4 {
  font-size: 18px;
  color: #0499DD;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sectionThree .contenir .con_2 .list .text p {
  color: #282828;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  display: block;
  text-align: left;
  margin-top: 25px;
}
.sectionThree .contenir h6 {
  width: 550px;
  height: 34px;
  position: relative;
  top: 25px;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  color: #282828;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 13px;
}
.sectionThree .contenir button {
  width: 230px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 60px;
  background: var(--blue-grad, linear-gradient(93deg, #0499DD 0%, #17C1BC 100%));
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  font-style: normal;
  margin: 0 auto;
  margin-top: 50px;
}
.sectionThree .buttom-text {
  width: 80%;
  height: 30px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionThree .buttom-text h5 {
  color: #0499DD;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sectionThree .buttom-text a {
  color: var(--black, #282828);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

@media screen and (max-width: 768px) {
  .sectionThree {
    width: 768px;
    margin: 0 auto;
  }
  .sectionThree .contenir {
    width: 80%;
    margin: auto;
    margin-top: 100px;
  }
  .sectionThree .contenir h3 {
    color: #0499DD;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .sectionThree .contenir .con_1 {
    width: 100%;
    height: 134px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .sectionThree .contenir .con_1 .list {
    flex: 6;
    height: 100%;
    display: flex;
  }
  .sectionThree .contenir .con_1 .list .logo {
    width: 17%;
    height: 100%;
  }
  .sectionThree .contenir .con_1 .list .logo img {
    width: 75px;
    height: 74px;
  }
  .sectionThree .contenir .con_1 .list .text {
    width: 83%;
    height: 100%;
  }
  .sectionThree .contenir .con_1 .list .text h4 {
    font-size: 18px;
    color: #0499DD;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .sectionThree .contenir .con_1 .list .text p {
    color: #282828;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    display: block;
    text-align: left;
    margin-top: 25px;
  }
  .sectionThree .contenir .con_2 {
    width: 100%;
    height: 134px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 130px;
  }
  .sectionThree .contenir .con_2 .list {
    flex: 6;
    height: 100%;
    display: flex;
  }
  .sectionThree .contenir .con_2 .list .logo {
    width: 17%;
    height: 100%;
  }
  .sectionThree .contenir .con_2 .list .logo img {
    width: 75px;
    height: 74px;
  }
  .sectionThree .contenir .con_2 .list .text {
    width: 83%;
    height: 100%;
  }
  .sectionThree .contenir .con_2 .list .text h4 {
    font-size: 18px;
    color: #0499DD;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .sectionThree .contenir .con_2 .list .text p {
    color: #282828;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    display: block;
    text-align: left;
    margin-top: 25px;
  }
  .sectionThree .contenir h6 {
    width: 550px;
    height: 34px;
    position: relative;
    top: 140px;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    color: #282828;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .sectionThree .contenir button {
    width: 230px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 60px;
    background: var(--blue-grad, linear-gradient(93deg, #0499DD 0%, #17C1BC 100%));
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    font-style: normal;
    margin: 0 auto;
    margin-top: 170px;
  }
  .buttom-text {
    width: 80%;
    height: 30px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .buttom-text h5 {
    color: #0499DD;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .buttom-text a {
    color: var(--black, #282828);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
  }
}
@media screen and (max-width: 390px) {
  .sectionThree {
    width: 390px;
    margin: 0 auto;
  }
  .sectionThree .contenir {
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }
  .sectionThree .contenir h3 {
    color: #0499DD;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .sectionThree .contenir .con_1 {
    width: 100%;
    height: 176px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .sectionThree .contenir .con_1 .list {
    flex: 6;
    height: 100%;
    display: flex;
  }
  .sectionThree .contenir .con_1 .list .logo {
    width: 28%;
    height: 100%;
  }
  .sectionThree .contenir .con_1 .list .logo img {
    width: 75px;
    height: 74px;
  }
  .sectionThree .contenir .con_1 .list .text {
    width: 83%;
    height: 100%;
  }
  .sectionThree .contenir .con_1 .list .text h4 {
    font-size: 18px;
    color: #0499DD;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .sectionThree .contenir .con_1 .list .text p {
    color: #282828;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    display: block;
    text-align: left;
    margin-top: 25px;
  }
  .sectionThree .contenir .con_2 {
    width: 100%;
    height: 176px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 185px;
  }
  .sectionThree .contenir .con_2 .list {
    flex: 6;
    height: 100%;
    display: flex;
  }
  .sectionThree .contenir .con_2 .list .logo {
    width: 28%;
    height: 100%;
  }
  .sectionThree .contenir .con_2 .list .logo img {
    width: 75px;
    height: 74px;
  }
  .sectionThree .contenir .con_2 .list .text {
    width: 83%;
    height: 100%;
  }
  .sectionThree .contenir .con_2 .list .text h4 {
    font-size: 18px;
    color: #0499DD;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .sectionThree .contenir .con_2 .list .text p {
    color: #282828;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    display: block;
    text-align: left;
    margin-top: 25px;
  }
  .sectionThree .contenir h6 {
    width: 100%;
    height: 55px;
    position: relative;
    top: 200px;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    color: #282828;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .sectionThree .contenir button {
    width: 230px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 60px;
    background: var(--blue-grad, linear-gradient(93deg, #0499DD 0%, #17C1BC 100%));
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    font-style: normal;
    margin: 0 auto;
    margin-top: 240px;
  }
  .buttom-text {
    width: 90%;
    height: 30px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .buttom-text h5 {
    color: #0499DD;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .buttom-text a {
    color: var(--black, #282828);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
  }
}
.section4 {
  width: 1300px;
  height: 600px;
  margin: 0 auto;
  margin-top: 100px;
}
.section4-img {
  width: 1300px;
  height: 600px;
}

@media screen and (max-width: 768px) {
  .section4 {
    width: 100%;
  }
  .section4-img {
    width: 100%;
  }
}
@media screen and (max-width: 390px) {
  .section4 {
    width: 100%;
  }
  .section4-img {
    width: 100%;
  }
}
.section5 {
  display: flex;
  align-items: center;
  width: 1300px;
  height: 600px;
  margin: 0 auto;
}
.section5 .section5-container-dp {
  display: flex;
  height: 500px;
  display: flex;
  align-items: center;
  margin-left: 200px;
}
.section5 .section5-container-dp .section5-container-1 {
  width: 555px;
  height: 322px;
}
.section5 .section5-container-dp .section5-container-img-2 {
  width: 400px;
  height: 322px;
}

@media screen and (max-width: 768px) {
  .section5 {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
