.header {
    position: relative;
    z-index: 1;
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        &-list {
            display: flex;
            gap: 50px;
            &-item a {
                color: #fff;
                text-decoration: none;
            }
        }
        .fa-bars {
            display: none;
        }
    }
}


@media screen and (max-width: 768px) {
    .header {
        &__nav {
            &-list {
                display: none;
            }
            .fa-bars {
                display: block;
                font-size: 30px;
                color: #fff;
            }
        }
    }
}
